

        
        body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}


form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

a {
    
    text-decoration: none;
    margin-left: 10px;
}

.edit{
    background-color: green;
}

.edit:hover{
    background-color: darkgreen;
}

.delete{
    background-color: red;
}

.delete:hover{
    background-color: darkred;
}